@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Utah Motor Vehicle Collision Application</h1><br /><br />
    <h5>This website includes the Utah motor vehicle collisions dataset (2016, 2017, and 2019) and predictions for crash severity.</h5>
    <h5>Please navigate different features to learn more about the car crash database and predict the crash severity level!</h5>
    <img width="550" length="740" src="https://images.pexels.com/photos/3787149/pexels-photo-3787149.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"/>
    <h5>More details can be found on <a href="https://opendata.utah.gov/Transportation/Utah-Crash-Data-2020/herb-zqda">UDOT's Traffic & Safety Division</a></h5>

</div>


